:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0, 02em;
  font-size: 14px;
  line-height: 1.7;
}

.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.studio {
  color: #000000;
  font-family: raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.list {
  list-style: none;
}
/* site-nav*/

.site-nav .link {
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav .link {
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

.hero-title {
  color: #ffffff;
  background-color: #2f303a;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.advantage .title {
  color: #212121;
}

.section-title {
  color: #212121;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section-title-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section .career {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section .text {
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  vertical-align: Top;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  align-items: center;
}

.button .primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-align: center;
  align-items: center;
}

.address .contact {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  background-color: #2f303a;
}

/* css для портфолио */

.list-portfolio {
  list-style: none;
}

.section-title-list-portfolio {
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-text-list-portfolio {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
